.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(248, 191, 125, 0.753);
    color: rgb(0, 0, 0);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.authform{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(248, 191, 125, 0.753);
    height: 70%;
}


.authform .right{
    /* background-color: var(--col1); */
    width: max-content;
    height: 100%;
    padding: 10px;
    overflow:scroll;
}

.authform .right h1{
    color: rgb(255, 255, 255);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.authform .right form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.authform p{
    margin: 10px 0px;
}

.authform .form_input_leftright{
    display: flex;
    gap: 10px;
}


.popup .close{
    position: absolute;
    background-color: black;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    line-height: 0;
}