.swiper-slide {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(36, 34, 34); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}


.swiper-slide .swiper-slide-content{
    color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-radius: 20px;
}

.swiper-slide .swiper-slide-content h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

.swiper-slide .swiper-slide-content  p{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}