.meters {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.meters .card {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    transition: 0.3s;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.meters .card:nth-child(1) {
    background-color:rgb(239, 181, 94);
}
.meters .card:nth-child(2) {
    background-color: rgb(239, 181, 94);
}

.meters .card:nth-child(3) {
    background-color: rgb(239, 181, 94);
}


.meters .card:nth-child(4) {
    background-color: rgb(239, 181, 94);
}

.meters .card:nth-child(5) {
    background-color: rgb(239, 181, 94);
}

.meters .card:nth-child(6) {
    background-color: rgb(239, 181, 94);
}
.meters .card:nth-child(7) {
    background-color: rgb(239, 181, 94);
}



.meters .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.meters .card-header-box {
    display: flex;
    flex-direction: column;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(0, 0, 0);
    min-width: 49%;
    background-color: #302e2b;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.meters .card-header-box-name {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;

}

.meters .card-header-box-value {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.meters .card button{
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}


.meters .card button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 2px -1px 43px 3px rgba(0,0,0,0.2);
}


.meters .textincircle{
    color: #000000;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.meters .textincircle .hrline{
    width: 62px;
    height: 2px;
    background-color:rgb(33, 33, 33);
    margin: 1px 0;
}